
.header-logo{
    margin-left: 10%;
    margin-top: 3%;
}
.header__logo{
    display: inline-block;
    color: #305DFF;
    font-weight: bold;
    font-size: 35px;
    text-decoration: none;
}

body{
    background-color: #EEEEEE;
}


.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: #fff;
    z-index: 10;
}

.modal-close__wrap {
    position: absolute;
    left: 10%;
    top: 7%;
}

.modal-close {
    background: transparent;
    border-color: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: block;
    background-color: #305DFF;
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 3px gray;
}

.modal-close span {
    position: relative;
    width: 100%;
    height: 1px;
    background: black;
    display: block;
}

.modal-close span:nth-child(1) {
    transform: rotate(45deg);
}

.modal-close span:nth-child(2) {
    transform: rotate(-45deg);
}

.modal-open {
    cursor: pointer;
    background-color: #305DFF;
    border: none;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px gray;
    margin-top: 3%;
    margin-left: 10%;
}


.menu__item{
    color: #305DFF;
}

.menu_content{
text-align: center;
margin-top: 30vh;
}

.menu__link{
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
}

.close-button{
    font-size: 30px;
}


.input::placeholder {
    z-index: -10;
}