.content{

    border: 1px solid #000;
    background-color: #fff;
    width: 30%;
    height: 400px;
    margin-top: 5%;
    margin-left: 35%;
}
.message{
    display: flex;
    justify-content: center;
    margin-top: 25%;
    font-size: 30px;
}
.back{
    height: 80%;
}
.back_button{
    display: flex;
    justify-content: center;
    margin: 5% 30% 5%;
    background-color: #305DFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 10%;
    text-wrap: nowrap;
    min-width: 65px;
    font-size: 20px;
}
