.login {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    background-color: #EEEEEE;
}

.login__content{
    text-align: center;
    box-shadow: 5px 5px 3px #B1B1B1;
    border-radius: 10px;
    width: 50vh;
    height: 30vh;
    background-color: #fff;
}

.login-form__heading{
    background-color: #305DFF;
    height: 5vh;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.login_logo{
    font-size: 20px;
    display: flex;
    justify-content: left;
    padding-top: 10px;
    margin-left: 10px;
}

.input{
    margin-top: 5%;
    width: 35vh;
    height: 30px;
    border-width: 0 0 2px 0;
    background-color: #fff;
}

.form__button-submit{
    margin-top: 8%;
    margin-left: 75%;
    background-color: #305DFF;
    color: #fff;
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 10vh;
}

.icon{
    height: 30px;
    width: 30px;
}

