.username{
    text-align: center;
}

.reserve{
    margin-left: 8%;
}
.reserve_list {
    float: left;
    width: 50%;
}

.reserve_number{
    font-size: 20px;
}

.reserve_list_content{
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #305DFF;
    margin: 5%;
    margin-left: 15%;
    width: 50%;
    height: 260px;
    min-width: 311px;
}

.reserve_list_header{
    display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        position: relative;
        margin-top: 15px;
}

.reserve_detail_tr{
    line-height: 200%;
}
.reserve_detail_td{
    padding-left: 60px;
}
.reserveDelete {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.reserveDelete button {
    background-color: transparent;
    /* ボタンを透明にする */
    border: none;
}

.closs{
    background-color: #305DFF;
    border: none;
}

.delete_img{
        width: 35px;
            color: #fff;
}

.reserve_title{
    color:#fff;
}
.clock_img{
    width: 35px;
    color:#fff;
}

.reserve_detail_table{
    color: #fff;
    margin-left: 40px;
    margin-top: 25px;
}
.reserveDelete {
    margin-left: 50%;
    color: #fff;
}

.favorite{
    margin-top: -30px;
}
.favorite_list {
    float: right;
    width: 50%;
}

.shop_card {
    display: inline-block;
    margin: 25px;
    width: calc(40% - 20px);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
}

@media screen and (min-width: 1151px) {
    .shop_card {
        width: 40%;
        /* 画面が1149px以下の場合は2つ横並び */
    }
}

@media screen and (max-width: 1151px) {
    .shop_card {
        width: 65%;
        /* スマホサイズの場合は1つ縦並び */
    }
}

.favorite_list:after,
.reserve_list:after {
    content: "";
    display: table;
    clear: both;
}
.card_img {
    width: 100%;
    height: 50%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}

.card__content {
    text-align: left;
    padding: 15px 25px;
}

.card__ttl {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bolder;
}
.heart {
    width: 70px;
    min-width: 40px;
    border: none;
}

.heart_img {
    width: 100%;
    background-color: transparent;
}

.detail {
    background-color: #305DFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 10%;
    text-wrap: nowrap;
    line-height: 30px;
    min-width: 65px;
}

.favorite_button {
    text-align: right;
    margin-top: -45px;
}